build/
dist/
*.egg-info/
keys.py
.sesskey

# Python bits
__pycache__/
*.py[cod]

.venv/
.ruff_cache/
dist/
.DS_Store
# Tailwind config file just to activate the intellisense extension
tailwind.config.js